body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* table, th, td{
  border-style: solid;
} */

/* .grid, th, td{
  border: 1px solid gray;
  padding: 8px;
} */

table{
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 80%;
  height: 250px;
  text-align: center;
  border-collapse: collapse;
  border-color: rgb(209, 206, 206);
}

th,td{
  padding: 5px 12px;
}

.alignbutton{
  text-align: right;
  padding-right: 135px;
  margin-top: 70px;
}

.button {
  background-color: black; /* Green */
  border: none;
  border-radius: 130px;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 130px;
}

h2{
  padding-left: 135px;
}

.searchalign{
  text-align: left;
  padding-right: 50px;
  /* margin-top: 20px 20px 30px 40px; */
  margin-right: 719px;
}

input {
  width: 15%;
  padding: 3px 3px;
  margin: 8px;
  box-sizing: border-box;

}

.div1{
  display: block;
  text-align:left ;
  clear: left;
}

label{
  display: inline-block;
  width: 80px;
  text-align: left;
}

.inbox{
  width: 205px;
  height: 100px;
}

.btn{
  display: block;
  margin-top: 10px;
  margin-left: 85px;
  background-color: black;
  border: none;
  border-radius: 130px;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  width: 130px;
}